

.activity{
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem;
	background-color: rgba($gray, 0.2);
	overflow-x: auto;
}