



.btn-round {
  width: 250px;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  margin: 1rem;
  border: 1px solid $white;
  border-radius: 30px;
  background-color: rgba($black, 0.3);
  color: $white;
  text-align: center;
  &:hover{
    background-color: rgba($black, 0.8);
  }

}

.btn-submit{
  width: 100%;
  height: 60px;
  line-height: 52px;
  margin-top: 4rem;
  border: 3px solid $gray;
  background-color: transparent;
  color: $gray;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  transition: all .3s ease;
    &:hover{
        background-color: $turq;
        border-color: $turq;
        color: $white;
    }
}


