

.card-wrap{
	position: relative;
	flex-shrink: 0;
	height: 260px;
	width: 300px;
	padding: 1rem;
	margin-right: 2rem;
	border-radius: 4px;
	background-color: $gray-xlt;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.30);
	opacity: 0;

}

.image-block{
	height: 200px;
	width: 100%;
	margin-bottom: .5rem;
	border: 1px solid $gray-lt;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background-size: cover;
	background-position: center center;
}

.card-label{
	height: 31px;
	width: 150px;
	position: absolute;
	top: -62px;left: 50%;
	display: flex;
	align-items: center;
	padding-top: 8px;
    	transform: translateX(-50%);
 //    	border-top-right-radius: 4px;
	// border-top-left-radius: 4px;
	//background-color: $turq;
	border-bottom: 1px solid $white;
	color: $white;
	font-size: .8rem;
	font-style: italic;
	text-align: left;

	i{
		font-size: 1.25rem;
		margin-right: .5rem;
	}
}
.stem{
	position: absolute;
	width: 1px;height: 32px;
    top: -32px;
    left: 66px;
    transform: skewX(-29deg);

    	background-color: $white;

}

.reaction{


	.count{
		display: flex;
		flex-direction: column;
		text-align: center;
		font-size: 3rem;
		color: $turq;
		font-weight: 300;
		margin-bottom: .25rem;
		line-height: 1;
		span{
			font-size: .8rem;
			color: $gray;
		}
	}//count
}

.card-deets{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pill{
	display: inline-block;
	padding: .25rem .5rem;
	background-color: $turq;
	border-radius: 3px;
	color: $white;
	font-size: .7rem;

}

.attribute{
	font-size: .7rem;
}