

.ugc-form{
	transition: transform .3s ease;
	&.is-hidden{
		transform: scale(0)
	}

}


.form-success{
	position: absolute;
	top: 240px; left: 13px;
	text-align: center;	
	opacity: 0;
	transform: translateY(200px);
	transition: all .4s ease;
	z-index: -1;
	h3{
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		span{
			display: block;
			font-size: 1.25rem;
			font-weight: 300;
		}
	}
	.thumbs-up{
		height: 200px;
		width: 200px;
		margin: 0 auto;
		border-radius: 50%;
		background-size: cover;
		background-position: 70%;
	}
	&.is-visible{
			opacity: 1;
			transform: translateY(0);
			z-index: 0;
	}
}
.reset-form{
	color: $turq;
	text-align: center;
	font-size: .8rem;
	margin: 0 auto;
}