
header{
	height: 70px;
	width: 100%;
	position: absolute;
	top: 0 ; left: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	background-color: rgba(#e0e2e2, 0.1);
	color: $white;
}

.btn-header{

}