

.character-select{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.character{
	position: relative;
	height: 60px;
	width: 60px;
	background-color: $turq;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 0 0 3px $white, 0 0 0 6px transparent;
	overflow: hidden;
	&.is-selected{
		box-shadow: 0 0 0 3px $white, 0 0 0 6px $turq;
	}
}

.character:not(.is-selected)::before{
	content:'';
	position: absolute;
	top: 0 ; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($black, 0.3);
}



.selected-char{
	width: 100%;
	padding: .25rem;
	margin-top: 1rem;
	text-align: left;
	color: $gray;
	span{
		color: $turq;
		font-weight: 700;
	}
}