

.character-select{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.character{
	height: 70px;
	width: 70px;
	background-color: $turq;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 0 0 3px $white, 0 0 0 6px transparent;
	&.is-selected{
		box-shadow: 0 0 0 3px $white, 0 0 0 6px $turq;
	}
}