*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  text-rendering: geometricPrecision; }

a {
  transition: all .3s ease;
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

a:hover {
  cursor: pointer; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0; }

ol {
  margin: 0;
  padding: 0; }

dd {
  -webkit-margin-start: 0; }

p {
  padding: 0;
  margin: 0px 0px 5px 0px;
  margin: 0rem 0rem 0.3125rem 0rem; }

a {
  text-decoration: none; }

hr {
  box-sizing: content-box;
  height: 0; }

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: normal;
  text-rendering: geometricPrecision; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  border: none;
  padding: 0;
  outline: none; }

img {
  max-width: 100%; }

body {
  background-image: url("/static/media/paper_fibers.d1121140.png"); }

body {
  font-family: 'Roboto', sans-serif; }

p {
  font-size: 0.9375rem;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-style: normal;
  font-weight: 700;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  height: 100%; }

main {
  height: 100%;
  width: 100%;
  display: flex; }

header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 35, 0.5); }

aside {
  width: 500px;
  height: 100vh;
  padding: 4rem 2rem;
  background-color: rgba(84, 171, 238, 0.1); }
  aside > img {
    max-width: 80%;
    margin: 0 auto; }

section.activity {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(149, 160, 158, 0.2);
  overflow-x: auto; }

.ugc-form input[type=text] {
  display: block;
  width: 100%;
  margin-bottom: 1rem; }

.card-wrap {
  position: relative;
  flex-shrink: 0;
  height: 350px;
  width: 300px;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 4px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3); }

.image-block {
  height: 200px;
  width: 100%;
  margin-bottom: .5rem;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  background-size: cover;
  background-position: center center; }

.card-label {
  height: 31px;
  width: 200px;
  position: absolute;
  top: -71px;
  left: 50%;
  padding-top: 8px;
  transform: translateX(-50%);
  border-bottom: 1px solid #1686b0;
  border-top: 1px solid #1686b0;
  color: #1686b0;
  font-size: .7rem;
  font-style: italic;
  text-align: center; }

.stem {
  position: absolute;
  width: 1px;
  height: 41px;
  top: -41px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1686b0; }

.reaction .count {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  color: #1686b0;
  font-weight: 300;
  margin-bottom: .25rem;
  line-height: 1; }
  .reaction .count span {
    font-size: .8rem;
    color: #95A09E; }

.attribute {
  text-align: right;
  font-size: .7rem; }
