$icon-font-path: '/fonts/';



// ----------------------------------------------------------------------
  // Base
// ----------------------------------------------------------------------
@import "base/mixins";
@import "base/variables";
@import "base/extends";
@import "base/reset";
@import "base/base";
@import "base/typography";


// ----------------------------------------------------------------------
  // Layout
// ----------------------------------------------------------------------
// @import "layout/flex-grid";
@import "layout/layout";

// ----------------------------------------------------------------------
  // Modules
// ----------------------------------------------------------------------
@import "modules/header";
@import "modules/sidebar";
@import "modules/activity";
@import "modules/buttons";
@import "modules/form";
@import "modules/inputs";
@import "modules/select";
@import "modules/card";
@import "modules/admin";


// ----------------------------------------------------------------------
  // Ionicons
// ----------------------------------------------------------------------
// @import "icons/ionicons";

// ----------------------------------------------------------------------
  // View
// ----------------------------------------------------------------------


// ----------------------------------------------------------------------
  // Vendor
// ----------------------------------------------------------------------
